main {
    display: grid;
    grid-template: 1fr 5fr / 1fr 6fr;
    width: 100%;
    height: 100vh;
}

aside {
    background-color: slategrey;
    grid-row: 1 / 3;
}

nav {
    background-color: yellow;
}